@media (max-width: 767px) {

    .pfblock {
        padding: 70px 0;
    }

    .pfblock-header {
        margin: 0;
    }

    .grid {
        width: 80%;
    }

    .grid figure {
        height: 300px;
    }

    .grid figure,
    .grid img {
        width: 100%;
    }

    .contact_social .pfblock-header {
        margin-bottom: 35px;
    }

    .footer {
        padding: 20px 0;
    }
}

@media (max-width: 480px) {

    h1 {
        font-size: 30px;
        letter-spacing: 3px;
    }

    h2 {
        font-size: 25px;
    }

    h3 {
        font-size: 15px;
    }

    .line_position {
        margin: 0;
    }

    .grid figure {
        height: 200px;
    }
}